body {
  font-size:20px;
  font-family:'Lato',sans-serif
}
img {
  max-width:100%
}
h1 {
  font-family:'Oswald',sans-serif;
  text-transform:uppercase;
  color: /* #3c9cff */ #111;
}
h2,h3,h4,h5,h6 {
  font-family:'Oswald',sans-serif;
  text-transform:uppercase;
  color: /* #3c9cff */ #fff;
}
.item {
  padding-top:100px;
  min-height:150px;
  position:relative
}
.item:before,.last-item:after {
  background:#111;
  border:8px solid #fff /*#3c9cff*/ ;
  border-radius:50%;
  width:40px;
  height:40px;
  display:inline-block;
  content:"";
  margin-left:1rem;
  position:relative;
  z-index:1;
  left:calc(2% - 36px)
}
.vertical-line {
width:8px;
background-color: #fff /*#3c9cff*/;
position:absolute;
left:calc(2% - 5px);
top:0;
bottom:0
}
.item .card-panel {
margin:0;
margin:2rem 0 0 3rem
}
.item-date {
margin-top:-60px;
margin-left:4rem
}
.cv-title {
  margin-bottom:0;
  margin-left:calc(2% - 5px);
  /*line-height:190%*/
}
.cv-title span {
  padding:1rem;
  color: #111 /*#3c9cff*/;
  background-color: #fff /*#3c9cff*/ !important;
}
.last-item{
padding-top:80px;
height:70px;
position:relative
}

label {
    color: #111;
    font-size:20px;
    font-family:'Lato',sans-serif
}

input[type=text], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-color: #111;
  box-sizing: border-box;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #3c9cff;
  border: none;
  width: 100%;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.revue-form-footer {
  color: #a3a2a2;
  text-align: center;
  font-size:12px;
  font-family:'Lato',sans-serif
}
